@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.navbar {
   background-color: rgb(132, 177, 201);
}
.navbar-item {
   background-color: rgb(132, 177, 201);
}
.navbar a:hover{
   background-color: rgb(236, 236, 236);
}
.columns{
   text-align: center;
gap: 1vw;
}
.subcolumn{
border: .1rem solid black;
border-radius: 1rem;
background-color: white;
}
.bovenaan{
   display: flex;
   flex-direction: column;
   justify-content: center;
margin-bottom: 1rem;
}
main{
background-color: bisque;
}
footer{
   background-color: darkblue;
}